<div class="jumbotron">
    <h1>Microsffer ToDo</h1>
    <p class="lead">Web Api pronto para realizar as suas atividades online</p>
    <p><a href="https://www.microsffer.com.br" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Primeiro passo</h2>
        <p>Para consumir o web api, é necessário ter permissão, temos uma segurança para acesso.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Segundo passo</h2>
        <p>Ler a documentação do Web Api.</p>
        <p><a class="btn btn-default" href="/help">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Terceiro passo</h2>
        <p>Consumir os dados através dos métodos expostos.</p>
        <p><a class="btn btn-default" href="/help">Learn more &raquo;</a></p>
    </div>
</div>
