<div class="well">
    <h1>Microsffer ToDo</h1>
 </div>
 

<div ng-app="atividadesModulo">
    <div ng-controller="listaController">

        <input type="hidden" id="IdTodo" ng-model="atividadestodo.IdTodo" />
        <input type="text" class="form-inline" ng-model="atividadestodo.NomeTodo" placeholder="Digite a atividade." id="nomeTodo" />
        <button class="btn btn-primary" id="btnSalvar" ng-click="salvar(atividadestodo)">Salvar</button>



        <table class="table">
            <tr>
                <th>Nome da Atividade</th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="ativ in atividadestodo">
                <td>{{ativ.NomeTodo}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="editarDados(ativ)">Editar</button>
                    <button class="btn btn-danger" ng-click="deleta(ativ)">Deletar</button>
                </td>
            </tr>
        </table>
    </div>
</div>


@section scripts 
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/AngularApp/js/atividades.js"></script>
    <script src="~/AngularApp/js/listaController.js"></script>
    <script src="~/AngularApp/js/atividadeService.js"></script>
}