@{
    ViewBag.Title = "Microsffer ToDo";
}

<div class="well">
    <h1>Microsffer ToDo</h1> Feito em C#
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web API</h2>
        <p>
            <Br />
            Web API com segurança feito em C# e <Br />banco de dados SQL Server<br/>
            <a href="/help" target="_blank">Documentação e métodos</a>
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>AngujarJS</h2>
        <p>
            AngularJS última versão<br />
            <a href="https://microsffertodoaspnet.azurewebsites.net/">Clique aqui para acessar</a>
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>WPF e GitHub</h2>
        <p>
            <b>WPF Desktop</b>
            <Br /><a target="_blank" href="https://github.com/mauricio-junior/MicrosfferToDo/tree/master/MicrosfferToDo.WPF">Clique aqui para acessar</a>
            <Br /><Br />

            <b>GitHub Geral</b>
            <Br /><a target="_blank" href="https://github.com/mauricio-junior/MicrosfferToDo">Clique aqui para acessar</a>
            <Br /><Br />
        </p>
        
    </div>
</div>