<div class="well">
    <h1>Microsffer ToDo</h1>
</div>

<style>
    .input-group {
        width: 250px;
        margin: 0 auto;
    }

    .form-control {
        margin-bottom: 5px;
    }
</style> 

<div ng-app="atividadesModulo">
    <div ng-controller="listaController">

        <div class="input-group">
            <input type="hidden" id="IdTodo" ng-model="atividadestodo.IdTodo" />
            <input type="text" class="form-control" ng-model="atividadestodo.NomeTodo" placeholder="Digite a atividade." id="nomeTodo" /><br />&nbsp;
            <button class="btn btn-primary btn-block" id="btnSalvar" ng-click="salvar(atividadestodo)">Salvar</button>
        </div>

        <br /><br />
        <table class="table table-striped">
            <tr class="">
                <th>Nome da Atividade</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
            <tr ng-repeat="ativ in atividadestodo">
                <td>{{ativ.NomeTodo}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="editarDados(ativ)">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="deleta(ativ)">Deletar</button>
                </td>
            </tr>
        </table>
    </div>
</div>


@section scripts 
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/AngularApp/js/atividades.js"></script>
    <script src="~/AngularApp/js/listaController.js"></script>
    <script src="~/AngularApp/js/atividadeService.js"></script>
}